.Numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
  }
  
  .Num {
    margin: 2px;
    background-color: #494949;
    color: whitesmoke;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    width: 3em;
  }
  
  .Num:hover {
    background: whitesmoke;
    color: #494949;
  
    text-decoration: none;
  }
  .selectedPage {     
    margin: 2px;
    background-color: whitesmoke;
    color: #494949;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    width: 3em;
  
  }